# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Spotlight
.metadata_never_index
.Spotlight-V100

# Xcode
DerivedData/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build artifacts
build/
Build/
*.o
*.LinkFileList
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# SwiftPM / Playgrounds
.swiftpm/
Packages/
Package.resolved
*.playground/
playground.xcworkspace/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Archives
*.xcarchive

# Custom: eigene Ordner und Files ausschließen
config/
UtilitiesTest/
scripts/
yolo*/
!data/
data/*
!Test/data/debug/
Test/data/debug/*
.python-version
!**/.keep
